<footer class="footer-wrapper">
    <div class="nav-wrapper">
      <div class='navbar'>
        <h1>Pages</h1>
        <ul>
          <li>
              <a href="#home">Home</a>
          </li>
          <li>
              <a href="#about">About</a>
          </li>
          <li>
              <a href="#skills">Skills</a>
          </li>
          <li>
              <a href="#works">Works</a>
          </li>
          <li>
            <a href="#testimonials">Testimonials</a>
          </li>
          <li>
              <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <div class='links-wrapper '>
        <h1>links</h1>
        <a href="https://www.facebook.com/musa.joof.75641pl" target='_blank'>
          <img [src]="facebookUrl" alt="FaceBookImage" />
        </a>
              
        <a href="https://twitter.com/musajoof447" target='_blank'>
          <img [src]="twitterUrl" alt="TwitterImage" />
        </a>

        <a class='link-whatsapp '>
          <img [src]="whatsappUrl" alt="WhatsAppImage" />
            <span class='mt-2 font-bold m-auto'>7145920</span>
        </a>

        <a href="https://www.linkedin.com/in/musa-joof-b81a82247" target='_blank'>
          <img  [src]="linkedinUrl" alt="LinkinImage" />
        </a>
      </div>
      <div class='icons-wrapper'>
        <h1>Contacts</h1>
        <img class="contacts-image " [src]="phoneUrl" alt="Contack Image" />
        <img class="contacts-image " [src]="faxUrl" alt="Contack Image" />
        <img class="contacts-image" [src]="mailUrl" alt="Contack Image" />
      </div>
      <div class='icons-wrapper'>
        <h1>Skills</h1>
        <div class="skill-links-wrapper">
          <a href="https://html.com/">
            <img class="skill-image" [src]="htmlUrl" alt="My icon" />
          </a>
        </div>
        <div class="skill-links-wrapper">
          <a href="https://www.w3.org/Style/CSS/Overview.en.html">
            <img class="skill-image" [src]="cssUrl" alt="My icon" />
          </a>
        </div>
        <div class="skill-links-wrapper">
          <a href="https://www.javascript.com/">
            <img class="skill-image" [src]="jsUrl" alt="My icon" />
          </a>
        </div>
      </div>
      <div class='framework-wrapper'>
        <h1>Frameworks</h1>
        <div class="frameworks-links-wrapper">
          <a href="https://getbootstrap.com/">
            <img class="framework-image" [src]="boostrapUrl" alt="My icon" />
          </a>
        </div>
        <div class="frameworks-links-wrapper">
          <a href="https://tailwindcss.com/">
            <img class="framework-image" [src]="tailwindUrl" alt="My icon" />
          </a>
        </div>
        <div class="frameworks-links-wrapper">
          <a href="https://react.dev/">
            <img class="framework-image" [src]="reactUrl" alt="My icon" />
          </a>
        </div>
        <div class="frameworks-links-wrapper">
          <a href="https://nodejs.org/">
            <img class="framework-image" [src]="nodeUrl" alt="My icon" />
          </a>
        </div>
      </div>

      <!-- <img class="absolute w-20 mr-[900px]" [src]={blobImageBig} alt="Blob Image" /> -->
      <!-- <img class="absolute w-20 mr-96" [src]={blobImageBig} alt="Blob Image" /> -->
      <!-- <img class="absolute w-20 ml-24" [src]={blobImageBig} alt="Blob Image" /> -->
      <!-- <img class="absolute w-20 ml-[600px]" [src]={blobImageBig} alt="Blob Image" /> -->
      <!-- <img class="absolute w-20 ml-[1200px]" [src]={blobImageBig} alt="Blob Image" /> -->
      
    </div>
    <p class="paragraph">&copy; Develop By Musa Joof 2023, All Right Reserved</p>
  </footer>