

<div class="hero-wrapper">
    <div class="hero" id='about'>
        <div class=" profile-image">
            <div class="profile-background"></div>
            <img class="image" [src]="imageUrl" alt="My Image">
        </div>
          <!-- <img class=" " src={blobImageBig} alt="Blob Image" /> -->
          <!-- <img class="absolute left-[450px] bottom w-32 " src={blobImageMedium} alt="Blob Image" /> -->
          <!-- <img class="absolute w-32 right-10 top-[540px]" src={blobImageSmall} alt="Blob Image" /> -->
        <div class="hero-content">
          <h3 class="">About Me</h3>
          <h2 class="">
            Hi, a'm a student at JCC and my instructor is Omar Jasseh and the CEO. when i joined, i got little knowledge about programming but with the help of Omar and the team i'm able to start a project from scretch to finish.
          </h2>
          <p class="">whiles am a sudent at JCC am also working at the Gambia Immigration Department which i joined in 2011. i did my training at Tanjeh which we were the first batch to be trained there and after 6 months of succesfull training, we did our passing out and then deployed to aour verious stations. Am currently posted at the Biometric passport office since 2014 for the issurance of passports to Gambians.</p>
          <button mat-button class="hero-button" >
            <a routerLink="/" target="_blank" rel="noopener noreferrer" id="read">Read Me</a>
          </button>


        </div>
      </div>
</div>
