/* navbar.component.css */
header {
  border: 2px;
  background-color: blue;
  color: white;
  padding: 20px;
}

.logo-wrapper {
  display: flex;
  text-align: center;
}

.logo-wrapper img {
  border: 2px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.logo-wrapper .profile {
  margin-right: 10px;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }

  .hero-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 80px;
  }

  .hero-content {
    text-align: center;
    width: 50%;
  }

  .hero-content h2 {
    font-size: 50px;
    font-weight: bold;
  }

  .hero-content strong {
    color: yellow;
    font-weight: bold;
  }

  .hero-content button {
    width: 160px;
    height: 56px;
    border: none;
    background-color: rgb(131, 131, 241);
    box-shadow: 0 4px 6px -1px white;
    cursor: pointer;
    font-weight: bold;
    margin: 0 16px;
    padding: 8px;
    border-radius: 6px;
    color: white;
  }

  .hero-content button:hover {
    background-color: yellow;
    color: rgb(25 29 136);
    font-weight: bold;
  }

  .profile-image-wrapper {
    align-items: center;
    width: 50%;
  }

  .profile-image-wrapper img {
    width: 50%;
    height: 50%;
  }

  .hero-content button li{
    list-style-type: none;
  }
  