
<header  id='home' >
    <nav>
        <div class="logo-wrapper">
            <img class="profile"  [src]="profileUrl" alt=" logo" />
            <img  [src]="logoUrl" alt=" my logo" />
          </div>
        <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
    </nav>

    <div class="">
        <div class="hero-wrapper">
          <div class="hero-content">
            <h2>Hello, i'm <strong>Musa Joof</strong></h2>
            <p> I'm a young developer at JCC currently workin at the Gambia Immigration Department and posted at the Passport office</p>

            <button> 
              <li>
                <a href="#about">About Me</a>
              </li>
            </button>
            <button >
              <a href="https://drive.google.com/file/d/1cz5nxtc7k9EnO42iVk70aZurHT2zLBOK/view?usp=drive_link" target="_blank" download="Musa Joof - ITLA 5 Day Python Marathon.pdf" rel="noopener noreferrer">
                Download My CV
              </a>
            </button>
          </div>
          <div class="profile-image-wrapper">
            <img class="image" [src]="imageUrl" alt="My Image">
          </div>
          <!-- <img class="absolute w-20 " src={blobImageBig} alt="Blob Image" /> -->
          <!-- <img class="absolute left-96 bottom-96 w-32 " src={blobImageMedium} alt="Blob Image" /> -->
          <!-- <img class="absolute w-32 right-[200px] bottom-96" src={blobImageSmall} alt="Blob Image" /> -->
        </div>
      </div>
</header>
