<div class="testimonial-wrapper" id='testimonials'>
    <div class="testimonial-header">
        <h1>Testimonials</h1>
        <p>Check out for the testimonials from followers!!! </p>
    </div>
    <div class="content-wrapper">
      <div class="image-wrapper">
        <img src={testimonials[currentTestimonialIndex].Image} alt="" />
      </div>

      <div class="testimonials-details">
        <span class="name">My name is: </span>
        <span class="institution">Instittion: </span>
        <span class="text">Text: </span>
        <div class="button-wrapper ">
          <button>
            Next Testimonial
          </button>
        </div>
      </div>
    </div>
    </div>
