<div class="mt-5 p-5" id='works'>
    <div class="works-header">
      <h1>My Latest Work</h1>
      <p>Check out for the latest work and projects that i created at JCC from the following platform and frame works that includes HTML, CSS, React, Tailwind, Node etc. please share with me your feedback, it will be usefull for our subsequent works. </p>
    </div>
    <div class="card">
      <div class="image-wrapper ">
        <img [src]="audioPlayerUrl" alt="work image" />
      </div>
      <div class="image-wrapper">
        <img [src]="faqUrl" alt="work image" />
      </div>
      <div class="image-wrapper">
        <img [src]="jamagenFcUrl" alt="work image" />
      </div>
      <div class="image-wrapper">
        <img [src]="NftUrl" alt="work image" />
      </div>
    </div>

    <div class="card">
        <div class="image-wrapper ">
          <img [src]="percentageUrl" alt="work image" />
        </div>
        <div class="image-wrapper">
          <img [src]="potfolioUrl" alt="work image" />
        </div>
        <div class="image-wrapper">
          <img [src]="qrcodeUrl" alt="work image" />
        </div>
        <div class="image-wrapper">
          <img [src]="ratingUrl" alt="work image" />
        </div>
      </div>
  </div>
